:root {
    --primary-color: #25CAAC;
    --secondary-color: #3AA1FF;
    --sky-blue: #f5f9ff;
    --dark-grey: #6D7C90;
    --primary-text-gray: #8e8f91a6;
    --light-black: #949599;
    --grey: #E9ECEF;
    --light-grey: #F7F7F7;
    --black: #000000;
    --white: #ffffff;
  }
  