:root {
    --primary-color: #25CAAC;
    --secondary-color: #3AA1FF;
    --dark-green: #007A64;
    --aqua:#0DA3B8;
    --parrot: #2DBF3C;
    --dark-orange: #FF5C00;
    --orange: #FF5C001A;
    --purple-btn: #8F8CFF47;
    --dark-purple: #2D28FF;
    --pink-color: #FB8D8D;
    --sky-blue: #f5f9ff;
    --dark-grey: #6D7C90;
    --primary-text-gray: #8e8f91a6;
    --light-black: #949599;
    --grey: #E9ECEF;
    --light-grey: #F7F7F7;
    --black: #000000;
    --white: #ffffff;
  }
  